{# **************** #}
{# ***** Home ***** #}
{# **************** #}

{% extends "/Layout/layout.html.twig" %}

{% block titre %}Les Argonautes{% endblock %}
{% block description %}Site test WCS{% endblock %}

{% block main %}

    <main>

        <section class="new-member-form container form-group">
            <h2 class="h2 pb-3">Ajouter un(e) Argonaute</h2>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.quality) }}
            <button class="btn btn-secondary" type="submit">Envoyer</button>
            {{ form_end(form) }}
        </section>

        <!-- Member list -->

        <section class="member-list container">
            <h2 class="h2 pb-3">Membres de l'équipage</h2>
            <ul class="row">
                {% for candidate in candidates %}
                    <li class=" member-item col-md-4 col-6 text-center">{{ candidate.name }}</li>
                {% endfor %}
            </ul>
        </section>
    </main>

{% endblock %}

{% block script %}
{% endblock %}
